@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fonts */
  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsthin.etf") format("opentype");
    font-weight: 100;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsthinitalic.etf") format("opentype");
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsextralight.etf") format("opentype");
    font-weight: 200;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsextralightitalic.etf") format("opentype");
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinslight.etf") format("opentype");
    font-weight: 300;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinslightitalic.etf") format("opentype");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsregular.etf") format("opentype");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsitalic.etf") format("opentype");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsmedium.etf") format("opentype");
    font-weight: 500;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsmediumitalic.etf") format("opentype");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinssemibold.etf") format("opentype");
    font-weight: 600;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinssemibolditalic.etf") format("opentype");
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsbold.etf") format("opentype");
    font-weight: 700;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsbolditalic.etf") format("opentype");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsextrabold.etf") format("opentype");
    font-weight: 800;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsextrabolditalic.etf") format("opentype");
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsblack.etf") format("opentype");
    font-weight: 900;
  }

  @font-face {
    font-family: 'Poppins';
    src: url("/fonts/poppinsblackitalic.etf") format("opentype");
    font-weight: 900;
    font-style: italic;
  }

  /* Default Styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins
  }
}

main {
  width: 100%;
}

@media (min-width: 425px) {
  main {
    width: 425px;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.overflow-y-auto::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-y-auto {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/** Remove arrow from input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
